.promo {
  padding: 3vh 0 12vh;
  h1 {
    margin-bottom: 25px;
    span {
      color: $white;
    }
  }
  &-text__description {
    @include font-face($font-family-base, $font-size-medium, $height_big, $black);
  }
  &__image {
    @include clearfix;
    a {
      float: right;
      display: block;
      margin-top: 40px;
      @include font-face($font-family-base, $font-size-medium, $height_big, $black);
    }
    @include respond-to(handhelds) {
      display: none;
    }
  }
}
.promo-image__price {
  box-sizing: border-box;
  @include respond-to(tablets) {
    display: none;
  }
}
.price__cloud {
  position: relative;
  float: right;
  width: 160px;
  height: 110px;
  padding-top: 25px;
  -moz-border-radius: 80px / 55px;
  -webkit-border-radius: 80px / 55px;
  border-radius: 80px / 55px;
  background: linear-gradient(to bottom, #ff9797, #ffb4b4);
  box-sizing: border-box;
  text-align: center;
  span {
    @include font-face($font-family-medium, $font-size-h1, $line_height_title, $white);
  }
  span i.fa {
    font-size: 0.83em;
  }
  &::after {
    content: "";
    position: absolute;
    right: 40px;
    bottom: -13px;
    width: 16px;
    height: 40px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 0;
    transform: rotate(-40deg);
    background: linear-gradient(to bottom, #ffadad, #ffb4b4);

  }

}