
.btn--header {
  margin-top: 40px;
  @include button(85%, 85px, 13px, linear-gradient(to right, $green, #79ce6d), $white, $font-family-medium, $font-size-medium + 20px, 50px);
  &:hover {
    background: linear-gradient(to right, #79ce6d, #79ce6d);
  }
}
.btn--green {
  max-width: 305px;
  margin-top: 35px;
  @include button(85%, 58px, 25px, $green, $white, $font-family-medium, $font-size-medium + 6px, 58px);
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    background: #79ce6d;
  }
}
.btn--coral {
  max-width: 305px;
  margin-top: 35px;
  @include button(85%, 58px, 25px, $coral, $white, $font-family-medium, $font-size-medium + 6px, 58px);
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {

  }
}
