
.btn--header {
  margin-top: 40px;
  @include button(85%, 80px, 13px, linear-gradient(to right, $green, #79ce6d), $white, $font-family-medium, $font-size-medium + 20px, 73px);
  &:hover {
    background: linear-gradient(to right, #79ce6d, #79ce6d);
  }
  @include respond-to(handhelds) {
    width: 100%;
    max-width: 355px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    line-height: 78px;
  }
}
.btn--green {
  max-width: 305px;
  margin-top: 35px;
  @include button(85%, 58px, 25px, $green, $white, $font-family-medium, $font-size-medium + 6px, 58px);
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    background: #79ce6d;
  }
  @include respond-to(handhelds) {
    font-size: 20px;
  }
}
.btn--coral {
  max-width: 305px;
  margin-top: 35px;
  padding: 0;
  @include button(85%, 58px, 25px, $coral, $white, $font-family-medium, $font-size-medium , 58px);
  text-transform: uppercase;
  letter-spacing: 1px;
  &:active,
  &:hover {
    background: #c86055;
  }
  @include respond-to(handhelds) {
    display: block;
    margin: 0 auto;
    font-size: 20px;
  }
}
