

@font-face {
  font-family: 'ProximaNovaRegular';
  font-style: normal;
  font-weight: 500;
  src:  url('/fonts/ProximaNovaRegular.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSansCyrl500';
  font-style: normal;
  font-weight: 500;
  src:  url('/fonts/museosanscyrl500.woff') format('woff'),
  url('/fonts/museosanscyrl500.ttf') format('ttf');
}

@font-face {
  font-family: 'MuseoCyrl900';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/museo_cyrl900.woff') format('woff'),
  url('/fonts/museo_cyrl900.ttf') format('ttf');
}

@font-face {
  font-family: 'IskraCyrLight';
  font-style: normal;
  font-weight: 400;
  src:  url('/fonts/IskraCYR-Light.otf') format('otf');
}

@font-face {
  font-family: 'IskraCyrRegular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/IskraCyrRegular/iskracyrregular.woff') format('woff'),
   url('/fonts/IskraCyrRegular/iskracyrregular.ttf') format('ttf'),
   url('/fonts/IskraCyrRegular/iskracyrregular.otf') format('otf');
}

@font-face {
  font-family: 'IskraCyrMedium';
  font-style: normal;
  font-weight: 600;
  src:  url('/fonts/iskracyrmedium.otf') format('otf'),
  url('/fonts/iskracyrmedium.woff') format('woff'),
  url('/fonts/iskracyrmedium.ttf') format('ttf'),
  url('/fonts/iskracyrmedium.svg') format('svg');
}
@font-face {
  font-family: 'IskraCyrItalic';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/IskraCyr-Italic/ISKRACYR-ITALIC.woff') format('woff'),
  url('/fonts/IskraCyr-Italic/ISKRACYR-ITALIC.otf') format('otf'),
  url('/fonts/IskraCyr-Italic/ISKRACYR-ITALIC.ttf') format('ttf'),
  url('/fonts/IskraCyr-Italic/ISKRACYR-ITALIC.svg') format('svg');
}
@font-face {
  font-family: 'MyriadProBold';
  font-style: normal;
  font-weight: 600;
  src:  url('/fonts/MyriadPro/MyriadProBold.woff') format('woff'),
  url('/fonts/MyriadPro/MyriadProBold.ttf') format('ttf');
}
@font-face {
  font-family: 'MyriadProRegular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MyriadPro/MyriadProRegular.woff') format('woff'),
  url('/fonts/MyriadPro/MyriadProRegular.ttf') format('ttf');
}
@font-face {
  font-family: 'UbuntuRegular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ubuntu/UbuntuR.ttf') format('ttf'),
  url('/fonts/Ubuntu/UbuntuR.woff') format('woff'),
  url('/fonts/Ubuntu/UbuntuR.otf') format('otf'),
  url('/fonts/Ubuntu/UbuntuR.svg') format('svg');
}



